html {
  font-family: sans-serif;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-content {
  margin: 3% 25% 0% 25%;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

/* Header Section */
.header {
  position: relative;
  height: 40vh;
  min-height: 500px;
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(imgs/header.jpg);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(imgs/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
}

.header .container {
  position: relative;
  height: 100%;
}

.header .header-content {
  width: 100%;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}

.header .header-content .header-subtitle {
  font-weight: 200;
  font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.header .header-content .header-title {
  font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  line-height: 0.7;
  margin-bottom: 45px;
  color: inherit;
}

.header .header-content .header-mono {
  letter-spacing: 5px;
  font-weight: 500;
  font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: 40px;
}

.header-title {
  font-size: 2.4rem;
  font-weight: bold;
  opacity: 0.8;
  color: #212529;
}

#portfolio-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.portfolio-header-image {
  max-width: 100%;
  height: auto;
}

.about-me {
  width: 50%;
  max-width: 50%;
  height: auto;
  margin: 30px;
  line-height: 2;
  flex-grow: 1;
}

/* Project Section */

#project-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-container {
  display: flex;
  gap: 34px 16px;
  flex-wrap: wrap;
  width: 100%;
}

/* Project Cards */

.project-card {
  max-width: calc((100% - 32px) / 3);
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.project-card-text-container {
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.project-card-text {
  text-overflow: ellipsis;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  height: 140px;
}

.tech-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  height: fit-content;
}

.tech-row-icon {
  width: 42px;
  height: 42px;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.button-text {
  font-size: 15px;
  font-weight: 700;
}

/* Button Styling */

a.button {
  padding: 8px 16px;
  border: 3px solid #141414;
  border-radius: 50px;
  color: black;
  text-decoration: none;
  width: fit-content;
  display: block;
  gap: 5px;
  align-items: center;
}

.fillAnimation {
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

.underConstruction {
  background: repeating-linear-gradient(
    45deg,
    black 20%,
    yellow 0 40%,
    black 0 60%,
    yellow 0 80%,
    black 0 100%
  );
}

a.underConstruction span {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a.button:hover {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
  background-position: left bottom;
  cursor: pointer;
}

a.button:hover img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(5deg)
    brightness(106%) contrast(102%);
}

a.span {
  transition: all 0.6s ease-out;
}

a.button img {
  transition: all 0.6s ease-out;
}

/* Footer Styling */

.footer-icon {
  width: 32px;
  height: 32px;
}

#footer {
  width: 100%;
  display: flex;
  padding: 30px 50px;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

a.icon-link {
  transition: transform 200ms ease-in-out;
}

a.icon-link:hover {
  cursor: pointer;
  stroke-width: 5;
  margin: 0;
  transform: rotate(15deg);
}

/* Link Styling */
a.no-underline {
  text-decoration: none;
  color: black;
}

a.no-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.disabled-link {
  pointer-events: none;
}

@media only screen and (max-width: 1700px) {
  #project-section {
    flex-direction: column;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }
}

@media only screen and (max-width: 1300px) {
  #portfolio-header {
    flex-direction: column;
  }

  .about-me {
    width: 100%;
    max-width: 100%;
    margin-left: -10%;
    margin-right: -10%;
  }

  .about-me p {
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 1125px) {
  #main-content {
    margin: 5% 15% 0% 15%;
  }

  #project-section {
    margin-top: -10%;
  }

  #portfolio-header {
    flex-direction: column;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #main-content {
    margin: 5% 20px 0% 20px;
  }

  #project-section {
    margin-top: -10%;
  }

  #portfolio-header {
    flex-direction: column;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }
}

@media (max-width: 800px) {
  .header {
    height: 500px;
    min-height: 500px;
  }

  .header .social-icons {
    margin: auto;
  }

  .header .header-content {
    padding: 20px;
  }

  .header .header-content .header-mono {
    letter-spacing: 2px;
    font-size: 25px;
    margin-top: -10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #main-content {
    margin: 50px 20px;
  }

  #project-section {
    margin-top: -20%;
  }

  .project-card {
    max-width: 100%;
  }

  .header .header-content .header-mono {
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: -10px;
  }

  .header .header-content .header-subtitle {
    font-size: 25px;
  }

  .header .header-content .header-title {
    font-size: 40px;
  }

  .project-card-text {
    height: fit-content;
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #footer {
    padding: 20px 20px;
  }

  .about-me {
    width: 100%;
    max-width: 100%;
    margin-left: -10%;
    margin-right: -10%;
  }

  .about-me p {
    font-size: 16px;
  }
}
